.main {
  max-width: var(--page-width);
  margin: calc(var(--baseline) * 1rem) auto;
  padding: 0 calc(var(--baseline) * 1rem);

  h2 {
    font-size: 1.5rem;
    line-height: calc(var(--baseline) * 1rem);
    margin: 0;
    font-weight: 600;
  }

  @media all and (min-width: 415px) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  section {
    font-size: 1.25rem;
  }
}
