STRIPE_SECRET_KEY=rk_test_...
NEXT_PUBLIC_STRIPE_PAYMENT_LINK=https://buy.stripe.com/test_fZu3cugwncwcdMJ34H4Rq00
BUNNY_TOKEN_KEY=your_bunnycdn_token_authentication_key
DOWNLOAD_TOKEN_SECRET=64_char_hex_string  # generate: openssl rand -hex 32
