.buttonLink {
  padding: calc(var(--baseline) * 0.5rem) 1rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--font-ui);
  justify-content: space-between;
  @media all and (min-width: 415px) {
    margin-right: 1rem;
  }
}

.buttonLinkPrimary {
  background-color: var(--color-primary);
  color: var(--color-page);
  transition: 0.2s opacity;

  &:hover {
    opacity: 0.9;
  }
}

.buttonLinkSecondary {
  &:hover {
    text-decoration: underline;
  }
}
