.buttonLink {
  padding: calc(var(--baseline) * 0.5rem) 1rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--font-ui);
  justify-content: space-between;
  @media all and (min-width: 415px) {
    margin-right: 1rem;
  }
}

.buttonLinkPrimary {
  background-color: var(--color-primary);
  color: var(--color-page);
  transition: 0.2s opacity;

  &:hover {
    opacity: 0.9;
  }

}

.buttonLinkPrimaryOutline {
  @extend .buttonLinkPrimary;
  border-radius: 100rem;
}

.buttonLinkSecondary {
  &:hover {
    text-decoration: underline;
  }

  &Outline {
    border: 2px solid;
    border-radius: 100rem;
  }
}
.buttonLinkSecondaryOutline {
  @extend .buttonLinkSecondary;
  
  border: 2px solid;
  border-radius: 100rem;
}


.noMargin {
  margin: 0;
}