.overlay {
    position: fixed;
    inset: 0;
    z-index: 2;
    padding: .5rem;
    display: grid;
    place-content: center;
    background-color: var(--color-page-fade);
    backdrop-filter: blur(10px);

    --u: .5rem;
    --animation-scale-in: .5;
    --animation-scale-out: 1;

    opacity: 0;
    visibility: hidden;
    transition: 
        calc(.4s * var(--animation-scale-out)) opacity,
        calc(.4s * var(--animation-scale-out)) visibility;
    
    transition-delay: calc(.3s * var(--animation-scale-out));

    &.isVisible {
        transition: calc(.6s * var(--animation-scale-in)) opacity, 0s visibility;
        transition-timing-function: ease-out;
        visibility: visible;
        opacity: 1;
    }
}

.content {
    // width: 100%;
    position: relative;
    max-width: 21rem;
    display: flex;
    flex-direction: column;
    align-content:  center;
    align-items:    center;
    text-align:     center;

    padding: 2rem;
    background-color: var(--color-page);
    border-radius: 1rem;
    box-shadow: 
    0 .1rem 2rem rgba(0, 0, 0, .05),
    0 .5rem 1.3rem rgba(0, 0, 0, .1),
    0 .2rem .3rem rgba(0, 0, 0, .05);


    transform: scale(.98);
    opacity: 0;
    visibility: hidden;
    transition: opacity, transform, visibility;
    transition-duration: .4s;
    
    .isVisible & {
        transform: none;
        opacity: 1;
        visibility: visible;
    }
    
}



.icon img {
    border-radius: 1rem;
    box-shadow: 
    0 0 0 .05rem rgba(0, 0, 0, .05);
    margin-bottom: calc(var(--u) * 2);
}

.title {
    font-weight: normal;
    font-size: 3rem;
    margin: 0 0 calc(var(--u) * 3);
}

.spacer {
    flex: 1;
}

.separator {
    border: none;;
    padding: 0;
    margin: calc(var(--u) * 1) 0;
    display: block;
    opacity: 0.2;
    &::after{
        content: '- or -';
    }

}

.disclaimer {
    margin: .25rem 0 2rem;
    opacity: 0.5;

    a {
        font-weight: bold;
        text-decoration: underline;;
    }
}

.invite {
    margin: 0;
    a {
        font-weight: bold;
        text-decoration: underline;;
    }
}


.closeButton {
    width: 1rem;
    height: 1rem;
    border-radius: 100rem;   
    position: absolute;
    top: 1rem;
    left: 1rem;

    background: url('./close.svg') center no-repeat;
    background-size: 100%;
    // padding: 0.5rem;
    border:none;
    transition: .2s opacity;
    cursor: pointer;
    opacity: 0.4;

    &:hover {
        opacity: 0.8;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    width: 100%;
    max-width: 10rem;
}



@media (prefers-reduced-motion) {
    .content, .content *, .overlay {
        transition: none !important;
        transition-delay: none !important;
    }
}