.container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: calc(var(--baseline) * 1rem);

  @media all and (min-width: 415px) {
    margin: calc(var(--baseline) * 2rem) auto;
  }
}

.headline {
  font-family: var(--font-header);
  margin: 0;
  font-size: 3rem;
  line-height: calc(var(--baseline) * 2rem);

  @media all and (min-width: 415px) {
    font-size: 5rem;
    line-height: calc(var(--baseline) * 1rem * 3);
  }
}

.description {
  font-size: calc(var(--baseline) * 1rem);
  font-size: 1.5rem;
}
