.window {
  --mock-browser-border-rgb: 0, 0, 0;
  --mock-browser-border-opacity: 1;
  --mock-browser-border-color: rgba(
    var(--mock-browser-border-rgb),
    var(--mock-browser-border-opacity)
  );
  --mock-browser-title-opacity: 1;
  --mock-browser-title-bg: transparent;
  --mock-browser-bg: var(--color-page);

  border: 1px solid var(--mock-browser-border-color);
  border-radius: 8px;
  overflow: hidden;
  background: var(--mock-browser-bg);
}

.dark {
  --mock-browser-border-rgb: 255, 255, 255;
  --mock-browser-border-opacity: 0.2;
  --mock-browser-title-opacity: 0.3;
  --mock-browser-title-bg: rgba(255, 255, 255, 0.05);
  --mock-browser-bg: transparent;
}

.titleBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0.375rem 0.5625rem;
  border-bottom: 1px solid var(--mock-browser-border-color);
  background: var(--mock-browser-title-bg);
}

.dots {
  display: flex;
  gap: 0.3rem;
}

.dot {
  width: 0.525rem;
  height: 0.525rem;
  border-radius: 50%;
  opacity: 0.75;

  &:nth-child(1) {
    background: #ff5f57;
  }
  &:nth-child(2) {
    background: #febc2e;
  }
  &:nth-child(3) {
    background: #28c840;
  }
}

.title {
  text-align: center;
  font-family: var(--font-ui);
  font-size: 0.6375rem;
  opacity: var(--mock-browser-title-opacity);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.dark .image {
  filter: invert(1);
}
