.features {
  .callout {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin-bottom: 2rem;

    p {
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  th {
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 0.1em 0;
    vertical-align: top;
  }

  kbd > kbd {
    --kbd-border: var(--color-primary);
    position: relative;
    display: inline-block;
    padding: 0.5em 0.7em;
    margin-right: 1.5em;
    font-family: var(--font-ui);
    font-size: 0.6em;
    line-height: 1;
    border: 1px solid var(--kbd-border);
    color: var(--kbd-border);
    border-radius: 3px;
    font-weight: 600;

    &::after {
      content: "+";
      position: absolute;
      left: 100%;
      top: 50%;
      translate: 8% -50%;
      padding: 0 0.4em;
      font-family: monospace;
      color: var(--color-text);
      font-weight: 400;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        content: none;
      }
    }
  }

  dl {
    margin: 0;
  }

  dt {
    font-weight: 600;
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin-left: 0;
    margin-top: 0.25rem;
  }

  section {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
}
