.features {
  nav {
    position: fixed;
    top: 1rem;
    left: 1rem;
    font-family: var(--font-ui);
    font-weight: 600;

    a:hover {
      color: var(--color-primary);
    }
  }

  .callout {
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin-bottom: 2rem;
    font-size: 1.25em;
    font-style: italic;
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;

    @media (max-width: 414px) {
      border-radius: 0;
    }

    p {
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }

  th {
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 0.1em 0;
    vertical-align: top;
  }

  kbd > kbd {
    --kbd-border: var(--color-primary);
    position: relative;
    display: inline-block;
    padding: 0.5em 0.7em;
    margin-right: 1.5em;
    font-family: var(--font-ui);
    font-size: 0.6em;
    line-height: 1;
    border: 1px solid var(--kbd-border);
    color: var(--kbd-border);
    border-radius: 3px;
    font-weight: 600;

    &::after {
      content: "+";
      position: absolute;
      left: 100%;
      top: 50%;
      translate: 8% -50%;
      padding: 0 0.4em;
      font-family: monospace;
      color: var(--color-text);
      font-weight: 400;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        content: none;
      }
    }
  }

  dl {
    margin: 0;
  }

  dt {
    font-weight: 600;
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin-left: 0;
    margin-top: 0.25rem;
  }

  section {
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 1rem;
  }

  code,
  samp {
    font-family: monospace;
    font-size: 0.8em;
  }

  .heroImage {
    display: block;
    width: 100%;
    max-width: 20rem;
    height: auto;
    margin: 0 auto;
    mix-blend-mode: multiply;

    @media (max-width: 414px) {
      max-width: none;
      width: calc(100% + 2 * var(--page-margin));
      margin-left: calc(-1 * var(--page-margin));
      margin-right: calc(-1 * var(--page-margin));
    }
  }
}

.features::after {
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20vw;
  aspect-ratio: 1;
  background: url("../pages/2/dogs.webp") bottom right / contain no-repeat;
  mix-blend-mode: multiply;
  pointer-events: none;
}
